.FooterLinkDisabled {
    opacity: 0.5;
    cursor: initial;
}

.FooterLinkDisabled > a {
    color: currentColor;
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
}

.FooterContainer {
    position: relative;
}

.FooterSpacer {
    height: 2px;
}

.FooterWrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
