.PhaserGameBannerContainer {
    display: flex;
    justify-content: space-between;
}

.PhaserGameInitButton {
    margin: 0 20px;
    padding: 0 20px;
    flex-grow: 1;
    border: none;
    background: #333;
    color: #ddd;
}

.PhaserGameContainerOpen {
    width: 80%;
    margin-top: -105px;
}

.PhaserCanvasContainerClosed,
.PhaserCanvasContainerOpen {
    transition-property: width, height;
    transition-duration: 1.0s, 2.0s;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.PhaserCanvasContainerOpen {
    width: 800px;
    height: 600px;
}
